<main>
    <div class="container">
        <section class="paciente">
            <h2>Paciente</h2>
            <a class="btn0" [routerLink]="['/cadastro-paciente']">Cadastrar-se</a>
        </section>
        <br><br>

        <section class="psicologo">
            <h2>Psicólogo</h2>
            <a class="btn" [routerLink]="['/cadastro-psicologo']">Cadastrar-se</a>
        </section>
    </div>
</main>

<!--<a class="btn0" [routerLink]="['/login-paciente', paciente.id]" >Perfil Completo</a>
<a class="btn0" [routerLink]="['/login-psicologo', psicologo.id]" >Perfil Completo</a>-->

<!--<a class="btn0" [routerLink]="['/perfil-completo', perfil.id]" >Perfil Completo</a>-->