<body>
    <div class="box">
        <form action="">
            <fieldset>
                <legend>
                    <h2><b>Login-Paciente</b></h2>
                </legend>
                <br>

                <div class="inputbox">
                    <input type="text" name="email" id="email" class="inputUser" required>
                    <label for="nome" class="labelInput"><b>Email:</b></label>
                </div>
                <br><br>

                <div class="inputbox">
                    <input type="password" name="senha" id="senha" class="inputUser" required>
                    <label for="senha" class="labelInput"><b>Senha:</b></label>
                </div>
                <br><br>

                <input type="submit" name="submit" id="submit" value="Enviar">

            </fieldset>
        </form>
    </div>
</body>