<body>
    <div class="box">
        <form action="">
            <fieldset>
                <legend>
                    <h2><b>Cadastro de Psicologos</b></h2>
                </legend>
                <br>

                <div class="inputbox">
                    <input type="text" name="nome" id="nome" class="inputUser" required>
                    <label for="nome" class="labelInput"><b>Nome Completo:</b></label>
                </div>
                <br><br>

                <div class="inputbox">
                    <input type="text" name="email" id="email" class="inputUser" required>
                    <label for="nome" class="labelInput"><b>Email:</b></label>
                </div>
                <br><br>

                <div class="inputbox">
                    <input type="tel" name="telefone" id="telefone" class="inputUser" required>
                    <label for="telefone" class="labelInput"><b>Telefone:</b></label>
                </div>
                <br><br>

                <label for="data_nascimento"><b>Data de Nascimento:</b></label>
                <input type="date" name="data_nascimento" id="data_nascimento" required>
                <br><br>

                <div class="inputbox">
                    <input type="text" autocomplete="off" maxlength="14" class="inputUser" required>
                    <label for="cpf" class="labelInput"><b>CRP:</b></label>
                    <!-- Conferir se o label do Crp está ok. -->
                </div>
                <br><br>

                <div class="inputbox">
                    <input type="password" name="senha" id="senha" class="inputUser" required>
                    <label for="senha" class="labelInput"><b>Criar senha:</b></label>
                </div>
                <br><br>

                <input type="submit" name="submit" id="submit" value="Cadastrar-se">

            </fieldset>
        </form>
    </div>
    <script src="../../../../../../BACK_END/index.js"></script>
</body>


<!-- Alterar esse aqui. -->

<!--<body>

    <form (submit)="cadastrarPsicologo()">
        <div class="box">
            <fieldset>
                <legend>
                    <h2><b>Cadastro de Psicólogos</b></h2>
                </legend>
                <br>

                <div class="inputbox">
                    <input type="text" name="nome" id="nome" class="inputUser" [(ngModel)]="newPsicologo.nome" required>
                    <label for="nome" class="labelInput"><b>Nome Completo:</b></label>
                </div>
                <br><br>

                <div class="inputbox">
                    <input type="text" name="email" id="email" class="inputUser" [(ngModel)]="newPsicologo.email"
                        required>
                    <label for="email" class="labelInput"><b>Email:</b></label>
                </div>
                <br><br>

                <div class="inputbox">
                    <input type="tel" name="telefone" id="telefone" class="inputUser"
                        [(ngModel)]="newPsicologo.telefone" required>
                    <label for="telefone" class="labelInput"><b>Telefone:</b></label>
                </div>
                <br><br>

                <label for="data_nascimento"><b>Data de Nascimento:</b></label>
                <input type="date" name="data_nascimento" id="data_nascimento" [(ngModel)]="newPsicologo.dataNascimento"
                    required>
                <br><br>-->

<!--<div class="inputbox">
                <input type="text" autocomplete="off" maxlength="14" class="inputUser" [(ngModel)]="newPsicologo.cpf"
                    name="cpf" required>
                <label for="cpf" class="labelInput"><b>CPF:</b></label>
            </div>
            <br><br>-->

<!--<div class="inputbox">
                    <input type="text" id="crp" autocomplete="off" maxlength="14" class="inputUser"
                        [(ngModel)]="newPsicologo.crp" name="crp" required>
                    <label for="crp" class="labelInput"><b>CRP:</b></label>
                </div>
                <br><br>

                <div class="inputbox">
                    <input type="password" name="senha" id="senha" class="inputUser" [(ngModel)]="newPsicologo.senha"
                        required>
                    <label for="senha" class="labelInput"><b>Criar senha:</b></label>
                </div>
                <br><br>

                <input type="submit" name="submit" id="submit" value="Cadastrar-se">
            </fieldset>
        </div>
    </form>
</body>-->